@font-face {
    font-family: "IBMPlexSans";
    src: url("./IBMPlexSans-Bold.ttf") format("opentype");
    src: url("./IBMPlexSans-BoldItalic.ttf") format("opentype");
    src: url("./IBMPlexSans-ExtraLight.ttf") format("opentype");
    src: url("./IBMPlexSans-ExtraLightItalic.ttf") format("opentype");
    src: url("./IBMPlexSans-Italic.ttf") format("opentype");
    src: url("./IBMPlexSans-Light.ttf") format("opentype");
    src: url("./IBMPlexSans-LightItalic.ttf") format("opentype");
    src: url("./IBMPlexSans-Medium.ttf") format("opentype");
    src: url("./IBMPlexSans-MediumItalic.ttf") format("opentype");
    src: url("./IBMPlexSans-Regular.ttf") format("opentype");  
    src: url("./IBMPlexSans-SemiBold.ttf") format("opentype");
    src: url("./IBMPlexSans-SemiBoldItalic.ttf") format("opentype");
    src: url("./IBMPlexSans-Thin.ttf") format("opentype");
    src: url("./IBMPlexSans-ThinItalic.ttf") format("opentype");
    
    
   
    
   
    
    
  }